aiofiles
beautifulsoup4
cryptography
deep-translator
discord.py
dotenv
fastapi
Flask
httpcore
httpx
jaconv
Jinja2
jishaku
matplotlib
motor
numpy
pillow
propcache
pycparser
pydantic
pydantic_core
pykakasi
pymongo
PyNaCl
pyparsing
pyshorteners
python-dateutil
python-dotenv
python-multipart
requests
typing-inspection
typing_extensions
unbelievaboat
urllib3
wrapt
yarl
autopep8
flake8
ruff
google-genai
aiohttp_socks
html2image
ossapi[async]
pyzbar
pytesseract
opencv-python
cowsay